body {
    background-color: bisque;
}

.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#unico {
    text-align: end;
}

img {
    width: 400px;
    height: 400px;
}